{% extends 'base.html.twig' %}

{% block body %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for track in tracks %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="{{ track.coverUrl }}" alt="{{ track.artist }} - {{ track.title }}">
                        <div class="card-body">
                            <p class="card-text">{{ track.artist }} - {{ track.title }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/lesson/{{ track.id }}">Go !</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}